{% extends "adocao.html" %}
{% load bootstrap5 %}
{% block content %}

<div class="row">
  <div class="col-md-4 col-14 mx-auto">
          <div class="card mt-4">
              <img src="../static/images/juca.JPG" width="400" alt="cachorro lindo"
              class="img-fluid img-thumbnail" />
              <div class="card-body">
                  <h1 class="h5 text-center">Juca</h1>
                  <h2 class="h6">Espécie: Cachorro</h2>
                  <h2 class="h6">Idade: 8</h2>
                  <h2 class="h6">Raça: West Highland White Terrier</h2>
                  <h2 class="h6">Histórico de Saúde:</h2>
              </div>
          </div>
  </div>
</div>

  <h1 class="text-body-emphasis">Formulário de Adoção</h1>
  {% if sucesso %}
    <p class="alert alert-success">Cadastro efetuado com sucessso!</p>
  {% endif %}
  <form action="" method="POST" id="form">
    {% csrf_token %}   
    {% bootstrap_form form %}

      <button type="submit" class="btn btn-primary btn-block">Finalizar cadastro</button>
  </form>
{% endblock %}
