{% extends "layout.html" %}
{% load bootstrap5 %}
{% load static %} 

{% block content %}
<main class="container">
<h1 class="text-center">Doações</h1>
<div class="row mt-4">
<h3>Precisamos de sua ajuda!</h3>
<div class="mt-2 col-lg-6 col-sm-12">
<p>Sua ajuda faz toda diferença na vida desses animais especiais. Na Pet's Home, acreditamos que cada pequeno gesto faz uma grande diferença na vida desses amigos peludos que tanto precisam de amor e cuidado.</p>
</div>
<div class="col-lg-6 col-sm-12 d-flex justify-content-center">
  <img
    src="{% static 'images/cachorro-em-abrigo-com-voluntario.jpg' %}"
    class="img-doacao img-thumbnail"
    alt="cachorro com voluntario"
  />
</div>
</div>
<div class="row text-center mt-5">
<h5 class="mb-4">Aqui estão algumas maneiras pelas quais você pode se envolver e fazer parte da mudança:</h5>
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Seja um Voluntário</h5>
      <p class="card-text">Junte-se à nossa equipe de voluntários apaixonados e compartilhe seu tempo e carinho diretamente com nossos animais.</p>
      <button class="btn btn-success">Ser Voluntário</button>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Doações São Bem-Vindas</h5>
      <p class="card-text">Seja uma contribuição única ou uma doação mensal, cada valor doado nos ajuda a oferecer cuidados adequados.</p>
      <button class="btn btn-success">Doação</button>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Participe de Eventos</h5>
      <p class="card-text">Esteja atento aos eventos promovidos pelo abrigo, como feiras de adoção e palestras educacionais.</p>
      <button class="btn btn-success">Calendário</button>
    </div>
  </div>
</div>
</div>
<h4 class="text-center mt-5 mb-5">
  Juntos, estamos construindo pontes de amor que conectam corações humanos a
  patinhas peludas, transformando vidas de ambos os lados.
</h4>
</main>
{% endblock %}
