h1,h2, h4 {
  color: #30ac4d;
}

.nav{
  background-color: #4ccd6a;
}

.img-logo{
  max-width: 98px;
  height: auto;
  border-radius: 50%;
}

.img-sobre {
  max-width: 100%;
  height: auto;
}

.img-footer {
  max-width: 130px;
  border-radius: 50%;

}

.nav-link {
  font-weight: bolder;
  color: black;
}

.image-credit {
  font-size: small;
}

.footer-color {
  background-color: #4ccd6a;
}

.itens-footer {
  padding-top: 16px;
}

.footer-section a {
  text-decoration:none;
  color:rgb(15, 15, 15);
}
.social-icons a {
  text-decoration:none;
  color:black;
}

a:hover {
  color: #fff;
}

.social-icons i {
  font-size: 22px;
}
