body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #333333;
  font-size: 18px;
}

h1,h2, h3, h4 {
  color: #30ac4d;
}

.card-title {
  color: #30ac4d;
}

.card {
  border: 2px solid #030804;
}

.btn-home {
  background-color: #18a739;
  border: 2px solid #18a739;
}

.pesquisar-form {
  border: 2px solid #18a739;
  outline: none; 
}

.btn:hover {
  background-color: #4ccd6a !important;
}

.btn-adocao {
  font-size: 0.75rem;
  background-color: #18a739;
}

.btn-cadastro {
  background-color: #18a739;
  font-size: 1rem;
  margin-bottom: auto;
}

.img-logo{
  max-width: 98px;
  height: auto;
  border-radius: 50%;
}

.img-home {
  width: 199px;
  height: 196px;
  max-height: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #4ccd6a;
}

.img-sobre {
  max-width: 100%;
  height: auto;
}

.card-text {
  font-size: 15px;
}

.img-footer {
  max-width: 130px;
  border-radius: 50%;
}

.nav-link {
  font-weight: bolder;
  color: black;
}

.image-credit {
  font-size: small;
}

.footer-color {
  background-color: #4ccd6a;
}

.nav-color {
  width: 100%;
  background-color: #4ccd6a;
}

.itens-footer {
  padding-top: 16px;
}

.footer-section a {
  text-decoration:none;
  color:rgb(15, 15, 15);
}
.social-icons a {
  text-decoration:none;
  color:black;
}

a:hover {
  color: #fff;
}

.social-icons i {
  font-size: 22px;
}

.card-adocao .card-body {
  flex-grow: 1;
}

.card-adocao .card-img-top {
  object-fit: cover; 
  width: 100%; 
  height: 136px;
}